@{
    Layout = "_Layout";
}
<div class=" row container">
    <div class="col-8">
    <div class="row rounded-4" style="background-image:url()">
        <img src="./back.jpg"/>
    </div>
    <h1 class="text-black-50">Hello There!!! Welcome to ABC Car Rental</h1>
    <p>This the official website of ABC Car Rental where you will find the best rental deals in the city. <br />
        We offer a wide range of choices from regular every day city cars, to standard SUVs and MiniVans, to your quality rough and tough off-roaders 
        for your wild adventures. Whatever you want have it here.<br /> Come over to our main office in piassa and see for your self!!!! 
    </p>
    <img src="./pexels-alex-amorales-909907.jpg"/>
    </div>
    <div class="col-4 rounded bg-dark text-primary">
        <div class="card">
                <div class="card-header bg-dark"><strong><em>Where You Can Find Us</em></strong></div>
                <div class="card-body rounded bg-dark text-primary">
                    <h3 class="card-title"><strong>Address:</strong></h3>
                    <p class="card-text">Our Main Office at Piassa infront of Eliana Mall</p>
                    <p class="card-text">Megenagna, Zefmesh Grand city Mall</p>
                    <h3><strong>Phone Numbers:</strong></h3>
                    <p class="card-text">+251-234-23-31</p>
                    <p class="card-text">+251-243-44-21</p>
                    <h3><strong>Email Address:</strong></h3>
                    <p class="card-text">ABC@gmail.com</p>
                </div>
    </div>
</div>
