@model CarRentalManagment.Models.Car
@{
    Layout = "_AdminLayout";
}
<table class="table col-8">

    <tr class="bg-dark text-primary rounded">
        <th>Car Details</th>
    </tr>
    <tr>
        <td>
            <strong><em>Car Id:</em></strong> @Model.carId
        </td>
    </tr>
    <tr>
        <td>
            <strong><em>Name:</em></strong> @Model.name
        </td>
    </tr>
    <tr>
        <td>
            <strong><em>License No:</em></strong> @Model.licNo
        </td>
    </tr>
    <tr>
        <td>
            <strong><em>Category:</em></strong> @Model.catagory
        </td>
    </tr>
    <tr>
        <td>
            <span>Are u sure you want to return this car?</span>
        </td>
    </tr>
    <tr>
        <td>
            <form class="m-auto" action="/RentOrder/ReturnCar" method="post">
                <button type="submit" class="btn btn-primary btn-font-family">Return Car</button>
            </form>

        </td>
    </tr>
</table>
